.hero-team__title {
    font-size: 30px;
    color: white;
    background-color: #242222;
}

.hero-team__inner {
    top: 20vh;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.hero-team-text {
    color: white;
    background-color: #242222;

}

.hero-team {
    /* -ms-flex-align: center; */
    margin-top: -10vh;
    align-items: center;
    background-color: black;

    /* url('../../public/images/Promo\ \(5\ of\ 20\).JPG'); */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* -ms-flex: 1 0 auto; */
    flex: 1 0 auto;
    /* -ms-flex-direction: column; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* padding-top: 3.75em; */
    text-align: center;
    /* transform: translate(0%, -80px); */

    /* height: 100vh; */
}

.hero-team__img {
    display: block;
    /* padding: 10%; */
    height: 50vh;
    width: 100%;
    max-width: none;
    width: auto;
    /* mask: url(#image-mask); */

}
/* body {
    background-color: black;
} */



.box-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    max-width: 1200px;
    /* margin: 0 auto; */
    margin-top: 50vh;
    /* height: 50vh; */
    /* background-color: red; */
    /* margin-top: 250vh; */
    /* background-color: #242222; */

}

h5 {
    margin-bottom: 10px;

}